#myHeader {
    font-size: 36px;
    text-align: center;
    color: #116dd6;

    font-weight: 700;
    letter-spacing: 1px;

    margin-top: 40px;

    text-shadow: 2px 2px 10px rgba(17, 109, 214, 0.4);

    transition: all 0.3s ease;
}

#myHeader:hover {
    transform: scale(1.05);
    text-shadow: 0px 0px 20px rgba(17, 109, 214, 0.8);
}

#cat-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Logo till vänster, länkar till höger */
    align-items: center;
    background-color: #333; /* Mörkgrå bakgrund */
    padding: 10px 20px;
    color: white;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none; /* Tar bort prickarna i listan */
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none; /* Tar bort understrykningen */
    font-weight: 500;
    transition: color 0.3s; /* Gör så att färgen tonas när man hovrar */
}

.nav-links a:hover {
    color: #ff69b4; /* Ändrar färg till rosa när man för musen över */
}